{% extends 'shop/base.html' %}
{% load static %}

{% block css %}

    <style>
        .progress-bar-warning {
            background-color: yellow;
        }

        .progress-bar-danger {
            background-color: red;
        }

        .progress-bar-success {
            background-color: green;
        }

        .errorlist li {
            color: red;
        }
        .helptext li {
            color: green;
        }
    </style>
<link rel="stylesheet" href="{% static 'profiles/css/global.css' %}">

{% endblock %}

{% block body %}

    <h1>Change {{ profile.first_name }} {{ profile.last_name }} Password</h1>
    <form role="form" method="POST" action="">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="button" value="Save">
    </form>

{% endblock %}