{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>All bachelor </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/logo.png' %}" rel="icon">
  <link href="{% static 'img/logo.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
      <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
      <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
    

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'theme/css/custom.css' %}"/>
<link rel="stylesheet" href="{% static 'theme/css/abc-style.css' %}"/>
    
    

</head>

<body>
<!--==========================
  Header
  ============================-->
    <section id="head">
            <div class="header-area">
                <div class="top_header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                              <div class="address">
                                  
                                    <p><i class="fa fa-home floatleft"></i>Putalisadak,KTM<br><i class="fa fa-phone floatleft"></i>9808349417
                                  
                                  </p>
                                </div>
                            </div>
                            
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                                <div class="phone">
                                    
                                    <p>takes you to new level each day. so get ready</p>
                                </div>
                            </div>
                            <!--End of col-md-4-->
                            <div class="col-md-4 floatright">
                                <div class="social_icon text-right">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                            <!--End of col-md-4-->
                        </div>
                        <!--End of row-->
                    </div>
                    <!--End of container-->
                </div>
                <!--End of top header-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        
        <img src="{% static 'img/logo.png' %}" height="40px" width="40px";>
        <h3><a href="#hero"></a></h3>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
           <li class="menu-has-children"><a href="#welcome">Bachelors notes</a>
            <ul>
                <li class="menu-has-children"><a href="medium/choosesyllabus.html">science syllabus</a>
                    
                <ul>
                  <li class="menu-has-children"><a href="chosesyll/chemistry%20syllabus.html">Chemistry syllabus</a>
                    <ul> 
                        <li><a href="syllfirst/chemistry%20syllabus%201st%20year.html">1st year</a></li>
                        <li><a href="syll2nd/chemistry%20syllabus%202nd%20year.html">2nd year</a></li>
                        <li><a href="fb.com">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="chosesyll/environment%20science%20syll.html">Environment science syllabus</a>
                    <ul> 
                        <li><a href="syllfirst/environmental%20science%201st%20year.html">1st year</a></li>
                        <li><a href="syll2nd/envt%20science%20syllabus%202nd%20year.html">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="chosesyll/zoology%20syll.html">Zoology syllabus</a>
                    <ul> 
                        <li><a href="syllfirst/zoology%20first%20year%20syllabus.html">1st year</a></li>
                        <li><a href="syll2nd/zoology">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                  <li class="menu-has-children"><a href="chosesyll/botany%20syll.html"> Botany syllabus</a>
                    <ul> 
                        <li><a href="syllfirst/botany%20syllabus%201st%20year.html">1st year</a></li>
                        <li><a href="syll2nd/botany%20syllabus%202nd%20year.html">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="chosesyll/microbiology%20syll.html">Microbiology syllabus</a>
                    <ul> 
                        <li><a href="syllfirst/microbiology%20syllabus%201st%20year.html">1st year</a></li>
                        <li><a href="syll2nd/Mirobiology%20syllabus%202nd%20year.html">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                     <li class="menu-has-children"><a href="chosesyll/mathematics%20syll.html">Mathematics syllabus</a>
                    <ul> 
                        <li><a href="syllfirst/calculus%20syllabus%201st%20year.html">1st year</a></li>
                        <li><a href="syll2nd/mathematics%20syllabus%202nd%20year.html">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="chosesyll/physics%20syll.html">Physics syllabus</a>
                    <ul> 
                        <li><a href="syllfirst/Physics%20first%20year%20syllabus.html">1st year</a></li>
                        <li><a href="syll2nd/physics%20syllabus%202nd%20year.html">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                    <li class="menu-has-children"><a href="chosesyll/meterology%20syll.html"> Meterology syllabus</a>
                    <ul> 
                        <li><a href="syllfirst/meterology%20syllabus%20first%20year.html">1st year</a></li>
                        <li><a href="syll2nd/Physical%20Meteorology%20and%20General%20Hydrology%20syllabus%202nd%20year.html">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="chosesyll/geology.html"> Geology syllabus</a>
                    <ul> 
                        <li><a href="syllfirst/Geology%20syllabus%20first%20year.html">1st year</a></li>
                        <li><a href="syll2nd/geology%20syllabus%202nd%20year.html">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                     <li class="menu-has-children"><a href="chosesyll/compulsory.html"> Compulsory syllabus</a>
                    <ul>                                                                                            
                        <li><a href="syllfirst/scientific%20english.html">1st year</a></li>
                        <li><a href="syll2nd/Applied%20Statistics%20syllabus%202nd%20year.html">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                </ul>
              <li class="menu-has-children"><a href="ComingSoon/index.html">science notes</a>
                <ul>
                        <li class="menu-has-children"><a href="ComingSoon/index.html">Chemistry </a>
                    <ul> 
                        <li><a href="ComingSoon/index.html">1st year</a></li>
                        <li><a href="ComingSoon/index.html">2nd year</a></li>
                        <li><a href="ComingSoon/index.html">3rd year</a></li>
                        <li><a href="ComingSoon/index.html">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="ComingSoon/index.html">Environment science </a>
                    <ul> 
                        <li><a href="ComingSoon/index.html">1st year</a></li>
                        <li><a href="ComingSoon/index.html">2nd year</a></li>
                        <li><a href="ComingSoon/index.html">3rd year</a></li>
                        <li><a href="ComingSoon/index.html">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="ComingSoon/index.html">Zoology </a>
                    <ul> 
                        <li><a href="ComingSoon/index.html">1st year</a></li>
                        <li><a href="ComingSoon/index.html">2nd year</a></li>
                        <li><a href="ComingSoon/index.html">3rd year</a></li>
                        <li><a href="ComingSoon/index.html">4th year</a></li>
                    </ul>
                  <li class="menu-has-children"><a href="ComingSoon/index.html"> Botany </a>
                    <ul> 
                        <li><a href="ComingSoon/index.html">1st year</a></li>
                        <li><a href="ComingSoon/index.html">2nd year</a></li>
                        <li><a href="ComingSoon/index.html">3rd year</a></li>
                        <li><a href="ComingSoon/index.html">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="ComingSoon/index.html">Microbiology </a>
                    <ul> 
                        <li><a href="ComingSoon/index.html">1st year</a></li>
                        <li><a href="ComingSoon/index.html">2nd year</a></li>
                        <li><a href="ComingSoon/index.html">3rd year</a></li>
                        <li><a href="ComingSoon/index.html">4th year</a></li>
                    </ul>
                     <li class="menu-has-children"><a href="ComingSoon/index.html">Mathematics </a>
                    <ul> 
                        <li><a href="ComingSoon/index.html">1st year</a></li>
                        <li><a href="ComingSoon/index.html">2nd year</a></li>
                        <li><a href="ComingSoon/index.html">3rd year</a></li>
                        <li><a href="ComingSoon/index.html">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="ComingSoon/index.html">Physics </a>
                    <ul> 
                        <li><a href="ComingSoon/index.html">1st year</a></li>
                        <li><a href="ComingSoon/index.html">2nd year</a></li>
                        <li><a href="ComingSoon/index.html">3rd year</a></li>
                        <li><a href="ComingSoon/index.html">4th year</a></li>
                    </ul>
                    <li class="menu-has-children"><a href="ComingSoon/index.html"> Meterology </a>
                    <ul> 
                        <li><a href="ComingSoon/index.html">1st year</a></li>
                        <li><a href="ComingSoon/index.html">2nd year</a></li>
                        <li><a href="ComingSoon/index.html">3rd year</a></li>
                        <li><a href="ComingSoon/index.html">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="ComingSoon/index.html"> Geology </a>
                    <ul> 
                        <li><a href="ComingSoon/index.html">1st year</a></li>
                        <li><a href="ComingSoon/index.html">2nd year</a></li>
                        <li><a href="ComingSoon/index.html">3rd year</a></li>
                        <li><a href="ComingSoon/index.html">4th year</a></li>
                    </ul>
                     <li class="menu-has-children"><a href="ComingSoon/index.html"> Compulsory </a>
                    <ul> 
                        <li><a href="ComingSoon/index.html">1st year</a></li>
                        <li><a href="ComingSoon/index.html">2nd year</a></li>
                        <li><a href="ComingSoon/index.html">3rd year</a></li>
                        <li><a href="ComingSoon/index.html">4th year</a></li>
                    </ul>
                </ul>
                 
              <li class="menu-has-children"><a href="medium/choosepractical.html">science practical</a>
                <ul>
                        <li class="menu-has-children"><a href="#">Chemistry </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="#">Environment science </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="#">Zoology </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                  <li class="menu-has-children"><a href="#"> Botany </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="#">Microbiology </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                     <li class="menu-has-children"><a href="#">Mathematics </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="#">Physics </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                    <li class="menu-has-children"><a href="#"> Meterology </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="#"> Geology </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                     <li class="menu-has-children"><a href="#"> Compulsory </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                </ul>
                <li><a href="#">Computer science</a></li>
                <li></li>
                <li>1</li>
                
                <li><a href="#">Computer science</a></li>
                <li></li>
                <li>1</li>
                
                  </ul>
                </li>
            <li class="menu-has-children"><a href="">Old Questions</a>
            <ul>
                  <li class="menu-has-children"><a href="#">Old is gold</a>
                <ul>
                        <li class="menu-has-children"><a href="#">Chemistry </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="#">Environment science </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="#">Zoology </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                  <li class="menu-has-children"><a href="#"> Botany </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="#">Microbiology </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                     <li class="menu-has-children"><a href="#">Mathematics </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="#">Physics </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                    <li class="menu-has-children"><a href="#"> Meterology </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                   <li class="menu-has-children"><a href="#"> Geology </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                     <li class="menu-has-children"><a href="#"> Compulsory </a>
                    <ul> 
                        <li><a href="#">1st year</a></li>
                        <li><a href="#">2nd year</a></li>
                        <li><a href="#">3rd year</a></li>
                        <li><a href="#">4th year</a></li>
                    </ul>
                </ul>
                </li>
              
            </ul>
          </li>
          <li><a href="">colleges</a></li>
            
          <li><a href="ask/contact.html">ask anything</a></li>
             
                
          <li class="menu-has-children"><a href="">students zone</a>
            <ul>
              <li class="menu-has-children"><a href="#">Downloads</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                    
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
                <li><a href="#">Result</a></li>
                <li><a href="#">News and notices</a></li>
                <li>1</li>
                
                  </ul>
                </li>
          
          <li><a href="#contact">Give Us feedback</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

      
      <!--search bar -->
     <script>
  (function() {
    var cx = '002384697561648122368:11g_-jczki8';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
      <h1 style="text-align:center; text-decoration: underline;"><b>Choose what you want to learn</b></h1>
     
      
      <div class="container">
<div class="row feature-boxex">

      <ul class="sprite">
         <li><a href="choosepage/computerscience.html"><img src="{% static 'img/choose/computerscience.png' %}" width="70%" height="90%"><div class="computer greyout" ><div class="imgs-title" style="color:red; ">Computer</div></div></a></li>
          <li><a href="choosepage/chemistry.html"><img src="{% static 'img/choose/chemistry.png' %}" width="100%" height="90%"><div class="chemistry greyout"><div class="imgs-title" style="color:#5383c3;">chemistry</div></div></a></li>
         <li><a href="choosepage/physics.html"><img src="{% static 'img/choose/physics.png' %}" width="100%" height="90%"><div class="physics greyout"><div class="imgs-title" style="color:#6ec13d;">Physics</div></div></a></li>

         <li><a href="choosepage/environment.html"><img src="{% static 'img/choose/environment.png' %}" width="100%" height="80%"><div class="environment greyout"><div class="imgs-title" style="color:#0a325e;">Environment</div></div></a></li>
         <li><a href="choosepage/geology.html"><img src="{% static 'img/choose/geo.png' %}" width="100%" height="90%"><div class="geology greyout"><div class="imgs-title" style="color:#ff7f25;">Geology</div></div></a></li>
         <li><a href="choosepage/botany.html"><img src="{% static 'img/choose/botany.png' %}" width="100%" height="90%"><div class="botany greyout"><div class="imgs-title" style="color:#869cc5;">botany</div></div></a></li>
         <li><a href="choosepage/meteorology.html"><img src="{% static 'img/choose/meterology.png' %}" width="100%" height="90%"><div class="meterology greyout"><div class="imgs-title" style="color:#8f227d;">Meterology</div></div></a></li>
         <li><a href="choosepage/micro.html"><img src="{% static 'img/choose/micro.png' %}" width="100%" height="90%"><div class="redis greyout"><div class="imgs-title" style="color:#b7241d;">Micro biology</div></div></a></li>
         <li><a href="choosepage/zoology.html"><img src="{% static 'img/choose/zoology.png' %}" width="100%" height="90%"><div class="mongodb greyout"><div class="imgs-title" style="color:#412d22;">Zoology</div></div></a></li>
         <li><a href="choosepage/stastics.html"><img src="{% static 'img/choose/stat.png' %}" width="100%" height="90%"> <div class="mysql greyout"><div class="imgs-title" style="color:#0D5073;">Stastics</div></div> </a></li>
         <li><a href="choosepage/math.html"> <img src="{% static 'img/choose/math.png' %}" width="100%" height="90%"><div class="imgs-title" style="color:#0D5073;">Mathematics</div> </a></li>
         <li><a href=""> <img src="{% static 'img/choose/class10.png' %}" width="100%" height="90%"><div class="imgs-title" style="color:#0D5073;">Class 10</div></a></li>
      </ul>
</div>
</div>
     <main id="main">

        <!--Start of welcome section-->
        <section id="welcome" style="background-image: url({% static 'img/hero-bg.jpg' %}); color: firebrick;">

            <div class="container">

                <!--End of row-->
                <div class="row">
                    <!--End of col-md-3-->
                   <div class="col-md-3">
                        <div class="item">
                            <div class="single_item">
                                <a href="bachelor/index.html"> <div class="item_list">
                                    <div class="welcome_icon">
                                        <i class="fa fa-copy"></i>
                                    </div>
                                    <h4>All bachelor</h4>


                                </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--End of col-md-3-->
                  <div class="col-md-3">
                        <div class="item">
                            <div class="single_item">
                                <div class="item_list">
                                     <a href="collegereview/index.html"> <div class="welcome_icon">
                                       <i class="ion-ios-eye"></i>
                                    </div>
                                    <h4>colleges review</h4>
                                    </a>
                                </div>
                            </div>

                        </div>
                        </div>
                    <!--End of col-md-3-->
<div class="col-md-3">
                        <div class="item">
                            <div class="single_item">
                                <div class="item_list">
                                 <a href="downloads/index.html">   <div class="welcome_icon">
                                        <i class="fa fa-download"></i>
                                    </div>
                                    <h4>Downloads</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of col-md-3-->
                    <div class="col-md-3">
                        <div class="item">
                            <div class="single_item">
                                <div class="item_list">
                                 <a href="newsnotice/index.html">   <div class="welcome_icon">
                                        <i class="fa fa-laptop"></i>
                                    </div>
                                    <h4>result, news and notice</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of col-md-3-->



                     <div class="col-md-3">
                        <div class="item">
                            <div class="single_item">
                                <div class="item_list">
                                  <a href="fee/index.html">  <div class="welcome_icon">
                                        <i class="fa fa-money"></i>
                                    </div>
                                    <h4>Fee structures of colleges </h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-3">
                        <div class="item">
                            <div class="single_item">
                                <div class="item_list">
                                 <a href="jobs/index.html">   <div class="welcome_icon">
                                        <i class="fa fa-mobile"></i>
                                    </div>
                                    <h4>job and vacancies</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-3">
                        <div class="item">
                            <div class="single_item">
                                <div class="item_list">
                                   <a href="phonenumbers/index.html"> <div class="welcome_icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <h4>Phone numbers</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-3">
                        <div class="item">
                            <div class="single_item">
                                <div class="item_list">
                                  <a href="/shop">  <div class="welcome_icon">
                                        <i class="fa fa-shopping-bag"></i>
                                    </div>
                                    <h4>Buy and sell old books</h4>
                                      </a>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div></div>
                    <!--End of col-md-3-->


        </section>
        <!--end of welcome section-->
<!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Few Words About us</h2>
            <p style="font-size: 20px;">
              Bachelor note is a web based free content global place for learner to learn online where students are mastering new skills and achieving their goals by learning from an extensive library. Anyone with internet acess can learn most of the courses without paying any penny.<p style="font-size: 30px; font-family:monospace">
              <b> Beside note and solutions you can get following features from our website.</b></p>


            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="collegereview/index.html">Review of colleges and subjects</a></h4>
              <p class="description">Actually we are going to help you to choose the best within a best college and subjects.We are always there if you need any kind of help relating to your study.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href=""> old is gold</a></h4>
              <p class="description">we are providing old questions with solutions free of costs. You dont have to pay any money to see the old question and prepare for the exam.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Practical and other study material</a></h4>
              <p class="description">You need not bother to go to shop and buy practical books for your study. we have uploaded different file needed for your practical based on your own universities.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>

      </div>
    </section><!-- #about -->
       <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">

        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p>
                To discover, preserve knowledge, to educate the next generation of global students
   for learning, discovery and engagement on a large scale and with excellence.
   Education is broken. Come help us build the education the country deserves.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Plan</a></h2>
              <p>
                We are committed to building the best education the country needs - almost free by doing partnerships with other educational institutions, community organizations, government agencies, and the private sector to serve the citizens and impact the students.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p>
                Bachelors note will be the nation's best  learning community where students will get free, quality, online  educational programs to support their study and will achieve excellence in the field of e-learing.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->





   <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
           <h3 class="section-title">Special thanks to</h3>
          <p>I am thankful to these special people in my life to support me, uplift me, comfort me and bring joy in my soul. They are amazing and helped me when in need.
            <br>“Let us be grateful to people who make us happy, they are the charming gardeners who make our souls blossom.”
        <b>- Marcel Proust</b>
    <br>“Think Big And Don’t Listen To People Who Tell You It Can’t Be Done. Life’s Too Short To Think Small.”
                <b>-Tim Ferriss</b>
              </p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="img/sanam.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sanam Shrestha</h4>
                  <span>Who never say no to help me</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- #team -->



    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Services</h3>
          <p class="section-description"></p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-laptop"></i></a></div>
              <h4 class="title"><a href="">Study material</a></h4>
              <p class="description">We provide the pdf file, slide-content,sample research writing and other study materials provided by the lecturer and professor of different colleges of bachelor degree.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-book"></i></a></div>
              <h4 class="title"><a href="">old is gold</a></h4>
              <p class="description">we provide the old questions of different universities with their answers free of cost</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-copy"></i></a></div>
              <h4 class="title"><a href="">Practical</a></h4>
              <p class="description">we provide the practical of different subjects of different universities as per need of students.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-book"></i></a></div>
              <h4 class="title"><a href="">Notes </a></h4>
              <p class="description">As name of website suggest that we provide notes with possible question according to the latest syllabus of university.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-road"></i></a></div>
              <h4 class="title"><a href="">Syllabus and downloads</a></h4>
              <p class="description">we provide syllabus and other downloads needed for the student of the university. we act as a mediator. </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-shopping-bag"></i></a></div>
              <h4 class="title"><a href="">reviews, result and news</a></h4>
              <p class="description">we give reviews of subject and colleges and also the result and news of the univeristy.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #services -->
<!--testimonial-->
  <section id="testimonial" class="section-padding">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h2 style="font-size: 50px;"class="ser-title">See what Students are saying?</h2>
          <hr class="botm-line">
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="testi-details">
            <!-- Paragraph -->
            <p>If you want to say something just text us</p>
          </div>
          <div class="testi-info">
            <!-- User Image -->
            <a href="#"><img src="img/team-3.jpg" alt="" class="img-responsive"></a>
            <!-- User Name -->
            <h3>Alex<span>Texas</span></h3>
          </div>
        </div>
        <div class="c
                    ol-md-4 col-sm-4">
          <div class="testi-details">
            <!-- Paragraph -->
            <p>If you want to say something just text us</p>
          </div>
          <div class="testi-info">
            <!-- User Image -->
            <a href="#"><img src="img/thumb.png" alt="" class="img-responsive"></a>
            <!-- User Name -->
            <h3>Alex<span>Texas</span></h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="testi-details">
            <!-- Paragraph -->
            <p>If you want to say something just text us</p>
          </div>
          <div class="testi-info">
            <!-- User Image -->
            <a href="#"><img src="img/thumb.png" alt="" class="img-responsive"></a>
            <!-- User Name -->
            <h3>Alex<span>Texas</span></h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ testimonial-->
    <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Call To Action</h3>
            <p class="cta-text"> if you have any queries relating to our services.You can direct call or leave us a message.And if you have any suggestion and feedback you can use the following feedback suggestion for more. </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="contactus/index.html">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->

   <!-- #team -->


    <!--==========================
      Contact Section
    ============================-->
      <!-- #contact -->

      <div id="contact" class="page-section">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4 style="text-align: center">Contact Us</h4>
                        <div class="line-dec">For any queris and help, you can contact us via call, text or message on our number and you can be connected with us via social media like facebook, twitter, instagram, youtube. </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="map">
                        <img src="img/map.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                      <form id="contact" action="" method="post">
                        <div class="col-md-6">
                          <fieldset>
                            <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-6">
                          <fieldset>
                            <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <button type="submit" id="form-submit" class="btn">Send Message</button>
                          </fieldset>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
          </div>


    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">

          <p class="section-description"></p>
        </div>
      </div>




      <div class="container wow fadeInUp">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p><br>putalisadak. Kathmandu Nepal</p>
              </div>

              <div>
                <i class="fa fa-envelope"></i>
                <p>use contact us page</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p>9808349417</p>
              </div>
            </div>

            <div class="social-links">
                <a href="https://www.youtube.com/channel/UCLAWA-K38H0Lx1rjSegMcLg?view_as=subscriber" class="linkedin"><i class="fa fa-youtube"></i></a>
               <a href="https://twitter.com/BachelorAll"><i class="fa fa-twitter"></i></a>
              <a href="http://allbachelor.com/"><i class="fa fa-google-plus"></i></a>

            </div>

          </div>


        </div>

      </div>
    </section>
  </main>
    <!-- footer -->
    <section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Company</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="about/index.html"><i class="fa fa-angle-double-right"></i>About us</a></li>
						<li><a href="contactus/index.html"><i class="fa fa-angle-double-right"></i>Contact us</a></li>
						<li><a href="company/Accesibility.html"><i class="fa fa-angle-double-right"></i>Accesibility</a></li>
						<li><a href="company/Termsandcondition.html"><i class="fa fa-angle-double-right"></i>Terms and condition</a></li>
						<li><a href="company/Copyrightandtrademark.html"><i class="fa fa-angle-double-right"></i>Copyright and trademark</a></li>
                        <li><a href="company/Privacypolicy.html"><i class="fa fa-angle-double-right"></i>Privacy policy</a></li>
                        <li><a href="company/Ourplans.html"><i class="fa fa-angle-double-right"></i>Our plans</a></li>
                        <li><a href="company/Faqhelp.html"><i class="fa fa-angle-double-right"></i>Faq & help</a></li>
                        <li><a href="readreviews/index.html"><i class="fa fa-angle-double-right"></i>Read reviews</a></li>
					</ul>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Facilities</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="medium/choosesyllabus.html"><i class="fa fa-angle-double-right"></i>Syllabus</a></li>
						<li><a href="medium/choosenote.html"><i class="fa fa-angle-double-right"></i>notes</a></li>
						<li><a href="medium/choosepractical.html"><i class="fa fa-angle-double-right"></i>practical</a></li>
						<li><a href="medium/chooseoldisgold.html"><i class="fa fa-angle-double-right"></i>Old is gold</a></li>
						<li><a href="modelquestion/index.html"><i class="fa fa-angle-double-right"></i>model Questions</a></li>
                        <li><a href="downloads/index.html"><i class="fa fa-angle-double-right"></i>pdf and slideshows</a></li>
                        <li><a href="collegereview/index.html"><i class="fa fa-angle-double-right"></i>college reviews</a></li>
                        <li><a href="result/index.html"><i class="fa fa-angle-double-right"></i>results</a></li>
                        <li><a href="notice/index.html"><i class="fa fa-angle-double-right"></i>News and notices</a></li>

                        <li><a href="academiccalender/index.html"><i class="fa fa-angle-double-right"></i>Academic calendar</a></li>


					</ul>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Support</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="contact/contactus.html"><i class="fa fa-angle-double-right"></i>Advertise with us</a></li>
						<li><a href="contact/incorrectcontent.html"><i class="fa fa-angle-double-right"></i>Report incorrect content</a></li>
						<li><a href="contact/copyright.html"><i class="fa fa-angle-double-right"></i>Report copyright infrigement</a></li>
						<li><a href="contact/submit%20review.html"><i class="fa fa-angle-double-right"></i>Submit review</a></li>
                        <li><a href="contact/wanttowork.html"><i class="fa fa-angle-double-right"></i>want to work with us</a></li>
                        <li><a href="contact/tellfriend.html"><i class="fa fa-angle-double-right"></i>tell a friend</a></li>
                        <li><a href="donate/index.html"><i class="fa fa-angle-double-right"></i>Donate</a></li>
                        <li><a href="contact/reportabuse.html"><i class="fa fa-angle-double-right"></i>Report abuse</a></li>
                        <li><a href="contact/sharestory.html"><i class="fa fa-angle-double-right"></i>Share your story</a></li>
					</ul>
				</div>

                <div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Useful links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="usefullinks/universities.html"><i class="fa fa-angle-double-right"></i>Universities link</a></li>
                        <li><a href="usefullinks/colleges.html"><i class="fa fa-angle-double-right"></i>Colleges link</a></li>
						<li><a href="usefullinks/deapartmentsoftu.html"><i class="fa fa-angle-double-right"></i>departments of tu</a></li>
						<li><a href="usefullinks/eduactionportals.html"><i class="fa fa-angle-double-right"></i>educational portals link</a></li>
                        <li><a href="usefullinks/eduplaces.html"><i class="fa fa-angle-double-right"></i>educational places</a></li>

					</ul>
				</div>



            <div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Information for</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="alumni/index.html"><i class="fa fa-angle-double-right"></i>Alumni</a></li>
						<li><a href="jobs/index.html"><i class="fa fa-angle-double-right"></i>jobs and vacancies</a></li>

                        <li><a href="company/adpolicy.html"><i class="fa fa-angle-double-right"></i>Advertising policy</a></li>
                        <li><a href="phonenumbers/index.html"><i class="fa fa-angle-double-right"></i>Phone numbers</a></li>
                        <li><a href="collegereview/index.html"><i class="fa fa-angle-double-right"></i>Colleges</a></li>
                        <li><a href="fee/index.html"><i class="fa fa-angle-double-right"></i>Fees and fundings</a></li>
                        <li><a href="result/index.html"><i class="fa fa-angle-double-right"></i>Results</a></li>

					</ul>
				</div>

            <div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Download our apps</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="app-comming%20soon/index.html"><i class="fa fa-angle-double-right"></i>android app</a></li>
						<li><a href="app-comming%20soon/index.html"><i class="fa fa-angle-double-right"></i>ios app</a></li>
						<li><a href="app-comming%20soon/index.html"><i class="fa fa-angle-double-right"></i>windows app</a></li>
						<li><a href="app-comming%20soon/index.html"><i class="fa fa-angle-double-right"></i>Desktop app</a></li>

					</ul>
				</div>
                </div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>

			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>&copy; 2018 All bachelor. <br> Warning: All Rights Reserved.Unauthorized duplication is a violation of laws.<p>
				</div>

			</div>
		</div>
	</section>
	<!-- ./Footer -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{& static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{%static 'lib/superfish/hoverIntent.' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>

 

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>


        </div></section></body>
</html>
